.bg-secondary {
    background-color: #2c3e50 !important;
}

.copyright {
    background-color: #1a252f;
}

.balance-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.img-card {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
